<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все новости</title>
</head>
<body>


<html>

    {% if request.user.is_authenticated %}
    <p>Привет, <a href="/user_page">{{request.user}}</a> <a href="/logout">Выйти</a></p>
    <form action="" method="post">
         {% csrf_token %}
        <button type="submit">Создать новость</button>
    </form>
    {% else %}
        <p><a href="/register">Регистрация</a> <a href="/login">Войти</a></p>
    {% endif %}
    <p> </p>
    <p> </p>


    {% for news in all_news %}
        <h2><a href="/all-news/{{news.id}}/comments">{{ news.title }}</a> </h2>
        <p>{{ news.create_date }}</p>
        <p> <a href="change-news/{{news.id}}">Редактировать</a></p>
        <h3>{{ news.description }}</h3>
    {% endfor %}

</html>
</body>
