<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Комментарии</title>
</head>
<body>

{% for comment in comments %}
{% if forloop.counter == 1%}
<h2>{{comment.news.title}}</h2>
{% endif %}
<h3>{{comment.user_name}}</h3>
<p>{{comment.description}}</p>
<h3> </h3>
{% endfor %}

<h3>Оставить комментарий</h3>
<form method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Отправить</button>
</form>
<a href="/all-news">Назад</a>
</body>
</html>