<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница пользователя</title>
</head>
<body>
<h3>Логин</h3> <p>{{user_profile.user.username}}</p>
<h3>Имя</h3> <p>{{user_profile.first_name}}</p>
<h3>Фамилия</h3> <p>{{user_profile.last_name}}</p>
<h3>Телефон</h3> <p>{{user_profile.phone}}</p>
<h3>Город</h3> <p>{{user_profile.town}}</p>
<h3>Новостей добавлено</h3> <p>{{user_profile.news_cnt}}</p>

{% if user_profile.user_state == 0 %}
<h3>Группа </h3> <p>Пользователь</p>
{% elif user_profile.user_state == 1 %}
<h3>Группа </h3> <p>Верифицированный пользователь</p>
{% elif user_profile.user_state == 2 %}
<h3>Группа </h3> <p>Модератор</p>
{% endif %}

{% if user_profile.user_state == 0 %}
    {% if user_profile.user_request == 0 %}
        <form action="" method="post">
            {% csrf_token %}
            <button name="data" value="verified_request" type="submit">Стать верифицированным пользователем</button>
        </form>
    {% endif %}
{% elif user_profile.user_state == 1 %}
    {% if user_profile.user_request == 0 %}
        <form action="" method="post">
            {% csrf_token %}
            <button name="data" value="moderator_request" type="submit">Стать модератором</button>
        </form>
    {% endif %}
{% endif %}

{% if user_profile.user_state == 2 %}
    {% if users|length > 0 %}
<h3>Запросы пользователей</h3>
        {% for user in users %}
<form method="post">
    {% csrf_token %}
    <P>
    <LABEL for="username">{{user.user.username}} </LABEL>
            {% if user.user_request == 1 %}
        <button id= "username" name="data" value="{{user.user.username}}:ver:ok" type="submit">Подтвердить верификацю</button>
        <button name="data_no" value="{{user.user.username}}:ver:no" type="submit">Отклонить</button>
            {% else %}
        <button id= "data" name="data" value="{{user.user.username}}:mod:ok" type="submit">Сделать модератором</button>
        <button name="data_no" value="{{user.user.username}}:mod:no" type="submit">Отклонить</button>
            {% endif %}
    </P>
 </form>

        {% endfor %}
    {% endif %}
{% endif %}

{% if user_profile.user_state == 2 or user_profile.user_state == 1%}
    {% if news|length > 0 %}
<h3>Новости на рассмотрение</h3>
        {% for nws in news %}

            <h3>{{ nws.title }}</a> </h3>
            <p>{{ nws.create_date }}</p>
            <p>{{ nws.description }}</p>

            {% if user_profile.user_state == 2 %}
            <form method="post">
                    {% csrf_token %}
                    <button name="n_data" value="{{nws.id}}" type="submit">Опубликовать</button>
                    <button name="n_data_no" value="{{nws.id}}" type="submit">Отклонить</button>
             </form>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}

{% if user_profile.user_request == 1 %}
    <p> Запрос на верификацию отправлен </p>
{% elif user_profile.user_request == 2 %}
    <p> Ваша заявка стать модератором рассматривается </p>
{% endif %}

<a href="/all-news">Назад</a>
</body>
</html>