{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<style>
<!-- (A) THE CSS -->
<style>
/* (A) LAYOUT CONTAINER AS A TABLE */
.wrap-table { display: table; }

/* (B) "CONVERT" ITEMS TO TABLE CELLS */
.wrap-table > * { display: table-cell; }

/* (C) NOT IMPORTANT - COSMETICS */
.wrap-table > * { border: 10px solid white; }
.wrap-table img { width: 100%; }
</style>

<head>
    <meta charset="UTF-8">
    <title>Products list</title>
</head>
<body>
{% include 'marketplace_cite/header.html' %}
{% if show_button %}
    <h1><a href="/shopping-cart">{% trans "Корзина"%}</a> {{basket_items_cnt}} {% trans "шт."%} {% trans "Сумма" %} {{total_sum|floatformat:2}} {% trans "руб."%}</h1>
{% endif %}
{% for product_name, storages in data.items %}
    <h2>{{product_name}}</h2>
    {% for storage in storages %}
        <div class="wrap-table">
            <h2>{{storage.shop.name}}</h2>
            <p>{{storage.price}}</p>
            <p>{% trans "В наличии"%}: {{storage.count}} {% trans "шт."%}</p>
            {% if show_button %}
            <form method="post"> {% csrf_token %}
                <button type="submit" name="add_button" value="{{storage.id}}">{% trans "Добавить в корзину" %}</button >
            </form>
            {% endif %}
        </div>
    {% endfor %}
{% endfor %}

</body>
</html>