<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Объявления</title>
</head>
<body>
<p>Прошёл все курсы на skillbox. Продаю домашние задания</p>
<ul>
    <li><a href="first_advertisement">Курс Python Basic</a></li>
    <li><a href="second_advertisement">Курс Python-фреймворк Django</a></li>
    <li><a href="third_advertisement">Курс Python Advanced</a></li>
    <li><a href="fourth_advertisement">Язык запросов SQL</a></li>
    <li><a href="fifth_advertisement">Система контроля версий Git</a></li>
</ul>
</body>
</html>