{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Страница пользователя" %}</title>
</head>
<body>
   {% include 'shop/header.html' %}
    <a href="/shops-list">{% trans "На главную" %}</a>

    <p>{% trans "Баланс" %}: {{user_profile.balance}}</p>
    <p>###############################################</p>
    <h1>{% trans "Персональное предложение" %}</h1>
    <h2>{% trans "Название магазина" %}: {{personal_offer.shop.name}}</h2>
    <h2>{% trans "Название товара" %}: {{personal_offer.product.name}}</h2>
    <h3>{% trans "Описание" %}: {{personal_offer.product.description}}</h3>
    <h3>{% trans "Цена:" %} {{personal_offer.price}}</h3>
    <p>###############################################</p>

    {% if discounts|length > 0 %}
       <h1>{% trans "Акции" %}</h1>
       {% for discount in discounts %}
        <h2>{{discount.name}}</h2>
        <h3>{{discount.description}}</h3>
        <p>--------------------------</p>
       {% endfor %}
   {% endif %}


    <h1>{% trans "Покупки" %}</h1>
    {% if purchases|length > 0 %}
        <p>/////////////////////////////</p>
       {% for purchase in purchases %}
        <h2>{% trans "Название магазина" %}: {{purchase.shop.name}}</h2>
        <h2>{% trans "Название товара" %}: {{purchase.product.name}}</h2>
        <h3>{% trans "Описание" %}: {{purchase.product.description}}</h3>
        <h3>{% trans "Цена" %}: {{purchase.bought_price}}</h3>
        <h3>{% trans "Куплено штук" %}: {{purchase.count}}</h3>
        <p>--------------------------</p>
       {% endfor %}
   {% else %}
        <p>{% trans "Покупок нет" %}</p>
   {% endif %}


</body>
</html>