{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Информация по товару" %}</title>
</head>
<body>
    {% include 'shop/header.html' %}
    <a href="/shop-products/{{product_in_shop.shop.id}}">{% trans "К списку товаров" %}</a>

    <h2>{% trans "Страница товара" %}</h2>
    <h3>{% trans "Название" %}: {{product_in_shop.product.name}}</h3>
    <h3>{% trans "Описание" %}: {{product_in_shop.product.description}}</h3>
    <h3>{% trans "Цена" %}: {{product_in_shop.price}}</h3>
    <h3>{% trans "Количество" %}: {{product_in_shop.count}}</h3>
</body>
</html>